.main {
    width: 100%;
    background-color: red;
    color: #fff;
    padding: 10px;
}

.main .left {
    float : left;
    background-color: green;
    width: 40%;
}

.main .right {
    float:right;
    background-color: blue;
    width: 40%;
}
/*
.main:after {
    content: " ";
    display: table;
    clear: both;
 }
*/

.separator {
    content: " ";
    display: table;
    clear: both;
}