.wrapper {
    display: table;
    height: 300px;
    background: yellow;
    width: 50%;
}
.parent {
    display: table-cell;
    vertical-align: middle;
    background: red;
    width: 50%;
}
.child {
    background: blue;
    width: 25%;
    margin: auto;
    height: 50%;
}